#navbar{
  font-size: 0.925em;
  height: 3rem;
  max-height: 3rem;
  line-height: 3rem;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(0,0,0,0);
  z-index: 999;
}
a{
  text-decoration: none;
}
#navbar .fa-angle-down{
  font-size: 1.1em;
  margin-left: 0.25em;
  color: rgb(220,220,220);
}
#navbar-links{
  flex-basis: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#navbar-links > div{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin: 0 2.5% 0 2.5%;
}
.navbar-link{
  flex-grow: 1;
  position: relative;
  font-size: 0.8em;
  color: rgb(220,220,220);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  text-align: center;
}
.navbar-link:hover, .mobile-navbar-link:hover{
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.08s;
  -moz-transition: ease-in-out 0.08s;
  -webkit-transition: ease-in-out 0.08s;
}
.navbar-link:hover .fa{
  color: white !important;
}
.dropdown-content{
  visibility: hidden;
  opacity: 0;
  top: 100%;
  z-index: 99;
  background-color: rgb(1, 47, 69);
  color: white;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 2rem;
  min-width: 5rem;
  max-width: 7.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-item{
  position: relative;
  color: white !important;
  width: 100%;
  display: block;
  font-size: 0.8em;
  height: 2rem;
  text-align: center;
  overflow: hidden;
  line-height: 2rem;
  background-color: rgb(1, 47, 69);
  color: rgba(0,0,0,0.8);
  z-index: 99;
}
.dropdown-content *:hover {
  color: rgb(30,130,198) !important;
}
.dropdown:hover ~ .dropdown-content {
    visibility: visible !important;
    opacity: 1 !important;
}
.dropdown-content:hover{
    visibility: visible;
    opacity: 1;
}
.tooltiptext {
  font-size: 0.6em;
  height: 1rem;
  line-height: 1rem;
    visibility: hidden;
    width: 80px;
    top: 2rem;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 2px;
    position: absolute;
    z-index: 99;
}
.navbar-link ~ .tooltiptext {
    visibility: visible;
}
#create{
  color: rgb(21,184,47);
  margin-left: 2vw;
}
#login{
  color: rgb(21,184,47);
}
#logout{
  color: rgb(284,21,47);
}
.num-notifications{
  color: white !important;
  background: red;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  width: 2em;
  height: 2em;
  font-size: 0.8em;
  line-height: 2em;
  right: 5%;
  top: 5%;
}
.notifications-none{
  display: none;
}

/****Mobile****/
#mobile-menu, #mobile-menu *, .icon-menu{
  display: none;
}
#mobile-menu{
  list-style: none;
}
#mobile-menu li{
  width: 100%;
  height: 1.75rem;
  line-height: 1.75rem;
}
#mobile-menu li a{
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.75rem;
}
#mobile-menu-title{
  font-size: 2.5em;
  color: rgb(91,117,244);
  position: relative;
  line-height: 2.5em;
}
#mobile-menu-title i{
  color: white;
  position: relative;
}


@media screen and (max-width: 700px){
  .icon-menu{
    position: absolute;
    top: 0.875rem;
    height: 1.25em;
    left: 2.5%;
    width: 1.25em;
    display: inline-block !important;
    font-size: 1.25em;
    z-index: 9999;
  }
  .icon-menu .fa{
    position: absolute;
    display: inline-block !important;
    text-decoration: none;
    width: 100%;
  }
  .fa-times{
    color: white;
    margin-left: 50vw;
  }
  .icon-menu .fa:hover{
    cursor: pointer;
    color: rgb(91,117,244);
  }
  #mobile-menu{
    position: absolute;
    left: -60%;
    height: 100vh;
    width: 60vw;
    z-index: 999;
    background: black;
    top: 0;
    display: block;
    font-size: 0.5em;
  }
  #logo-wrap{
    position: relative;
    margin-left: 82.5vw;
    font-size: 0.75rem !important;
  }
  .page-header{
    top: 0.375rem;
    font-size: 1.75rem;
  }
  #mobile-menu *{
    font-size: 1.1em !important;
    text-decoration: none;
  }
  .mobile-dropdown-content{
   visibility: hidden;
   background-color: rgba(0,0,0,0);
   position: absolute;
   text-align: left;
   color: white;
   height: 0;
   width: 25vw;
   left: 12.5vw;
   transition: ease-in-out 0.1s;
   -moz-transition: ease-in-out 0.1s;
   -webkit-transition: ease-in-out 0.1s;
  }
  .mobile-dropdown-content *{
   z-index: 9;
   position: relative;
   right: 0;
   padding-left: 1.5rem;
  }
  .mobile-dropdown-content a{
   color: white !important;
   display: none;
   min-height: 100%;
   line-height: 2em;
   background-color: rgba(0,0,0,0);
   color: rgba(0,0,0,0.8);
  }
  .mobile-dropdown-content a:hover {
   color: rgb(30,130,198) !important;
  }
  .mobile-dropdown:hover ~ .mobile-dropdown-content {
   visibility: visible;
   opacity: 1;
   height: auto;
   transition: ease-in-out 0.25s;
   -moz-transition: ease-in-out 0.25s;
   -webkit-transition: ease-in-out 0.25s;
  }
  .mobile-dropdown-content:hover{
     visibility: visible;
   opacity: 1;
   height: auto;
  }
  .fa-user-circle, .fa-users{
    position: relative;
    margin-right: 0.5em;
  }
}

@media only screen 
and (max-device-width : 568px) 
and (orientation : landscape) {
  #mobile-menu{
    position: absolute;
    left: -40vw;
    height: 100vh;
    width: 40vw;
    z-index: 999;
    background: black;
  }
  .icon-menu .fa:hover{
    cursor: pointer;
    color: rgb(134, 174, 75);
  }
  .fa-icon {
    font-size: 3.5em !important;
  }
  .icon-menu{
    position: absolute;
    top: 0%;
    height: 85%;
    left: 2.5%;
    width: 50px;
    display: inline-block !important;
    color: rgb(70, 68, 79);
    z-index: 9999;
  }
  .icon-menu .fa{
    position: absolute;
    display: inline-block !important;
    text-decoration: none;
    width: 100%;
  }
}

@media only screen 
and (max-width : 550px), (max-width: 550px) and (orientation: portrait){
  .icon-menu{
    position: absolute;
    top: 0.875rem;
    height: 1.25em;
    left: 2.5%;
    width: 1.25em;
    display: inline-block !important;
    font-size: 1.25em;
    z-index: 9999;
  }
  .icon-menu .fa{
    position: absolute;
    display: inline-block !important;
    text-decoration: none;
    width: 100%;
  }
  .fa-times{
    color: white;
    margin-left: 50vw;
  }
  .icon-menu .fa:hover{
    cursor: pointer;
    color: rgb(91,117,244);
  }
  #mobile-menu{
    position: absolute;
    left: -60%;
    height: 100vh;
    width: 60vw;
    z-index: 999;
    background: black;
    top: 0;
    display: block;
    font-size: 0.5em;
  }
  #header-wrap, #space{
    height: 3rem;
  }
  #logo-wrap{
    position: relative;
    margin-left: 82.5vw;
    font-size: 0.75rem !important;
  }
  #mobile-menu *{
    display: inline-block;
    font-size: 1.1em !important;
    text-decoration: none;
  }
  .mobile-dropdown-content{
   visibility: hidden;
   background-color: rgba(0,0,0,0);
   position: absolute;
   text-align: left;
   color: white;
   height: 0;
   width: 25vw;
   left: 12.5vw;
   transition: ease-in-out 0.1s;
   -moz-transition: ease-in-out 0.1s;
   -webkit-transition: ease-in-out 0.1s;
  }
  .mobile-dropdown-content *{
   z-index: 9;
   position: relative;
   right: 0;
   padding-left: 1.5rem;
  }
  .mobile-dropdown-content a{
   color: white !important;
   display: none;
   min-height: 100%;
   line-height: 2em;
   background-color: rgba(0,0,0,0);
   color: rgba(0,0,0,0.8);
  }
  .mobile-dropdown-content a:hover {
   color: rgb(30,130,198) !important;
  }
  .mobile-dropdown:hover ~ .mobile-dropdown-content {
   visibility: visible;
   opacity: 1;
   height: auto;
   transition: ease-in-out 0.25s;
   -moz-transition: ease-in-out 0.25s;
   -webkit-transition: ease-in-out 0.25s;
  }
  .mobile-dropdown-content:hover{
     visibility: visible;
   opacity: 1;
   height: auto;
  }
  .fa-user-circle, .fa-users{
    position: relative;
    margin-right: 0.5em;
  }
}