#dashboard-nav-links{
	display: flex;
    justify-content: space-between;
	background-color: #222;
    height: 3rem;
    align-items: stretch;
    box-shadow: 1px 1px 1px rgb(57, 192, 228);
}
.nav-wrapper{
    align-items: stretch;
    display: flex;
    padding: 0 2.5%;
    position: relative;
    text-align: left;
}
.nav-wrapper:hover{
    background-color: black;
    cursor: pointer;
	transition: ease-in-out 0.125s;
}
.navbar-link{
    color: white;
    display: flex;
    align-items: center;
	transition: ease-in-out 0.125s;
}
.navbar-link i{
    margin-top: 10%;
    color: white;
    display: flex;
    align-items: center;
}
.dropdown-content{
    visibility: hidden;
    opacity: 0;
    top: 100%;
    z-index: 99;
    background-color: rgb(1, 47, 69);
    position: absolute;
    height: 2rem;
}
.dropdown-item{
    position: relative;
    width: 100%;
    display: block;
    height: 2rem;
    text-align: center;
    overflow: hidden;
    line-height: 2rem;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
    color: rgb(0,0,0) !important;
    z-index: 99;
}
.dropdown-content *:hover {
    color: rgb(57, 192, 228) !important;
    cursor: pointer;
}
.dropdown:hover ~ .dropdown-content {
    visibility: visible !important;
    opacity: 1 !important;
}
.dropdown-content:hover{
    visibility: visible;
    opacity: 1;
}
#home-link{
    font-size: 1.2em;
}