#login-wrap{
	text-align: center;
	position: relative;
	padding: 2.5%;
	width: calc(100% - 4rem);
	display: flex;
	justify-content: center;
}
#login-form{
	font-size: 1.25rem;
	height: 50vh;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	width: 35%;
	padding: 2.5%;
	justify-content: space-around;
	position: relative;
	background-color: rgba(205,205,205,0.4);
	box-shadow: 0px 1px 1px rgba(0,0,0,.5);
}
#input-area{
	flex-basis: 60%;
	display: flex;
	flex-direction: column;
}
#input-area input{
	margin: 2.5% 0;
}
#login-form input, #login-form button{
	height: 2.5rem;
}
#forgot-pass{
	text-align: right;
	font-size: 0.5em;
}
#login-submit{
	background-color: rgb(8, 40, 109);
	background: linear-gradient(to bottom right, rgb(19, 180, 224, 0.8), rgb(6, 100, 223, 0.8));
	color: white;
	border: none;
	transition: ease-in-out 0.125s;
}
#login-submit:hover{
	cursor: pointer;
	background-color: rgb(6, 100, 223);
}
.forgot-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 2.5%;
	margin-top: 5%;
}
#forgot-input-area input{
	height: 2rem;
}
#forgot-pass-email{
	margin-left: -5%;
	flex-basis: 60%;
	border: 1px solid rgba(0,0,0,0.2);
}
#forgot-pass-submit{
	flex-basis: 10%;
	color: white;
	border: none;
	background-color: rgb(67, 240, 98);
}
#forgot-pass-submit:hover{
	cursor: pointer;
	background-color: rgb(27, 205, 78);
}
.reset-ok{
	color: rgb(47, 200, 78);
	background-color: rgba(67, 240, 98, 0.2);
}
.reset-failed{
	color: rgb(200, 47, 78);
	background-color: rgba(240, 67, 98, 0.2);
}
#update-password-submit{
	height: 2rem;
	border: none;
	background-color: rgb(67, 225, 98);
	color: white;
}
#reset-input-area{
	margin-top: 5%;
}
#reset-input-area input{
	height: 2rem;
	margin: 1.25% 0;
}
#update-password-submit:hover{
	cursor: pointer;
	background-color: rgb(27, 205, 58);
}
#reset-complete{
	display: flex;
	flex-direction: column;
}
#login-invalid{
	color: rgba(255, 45, 45, 0.8);
	font-size: 0.675em;
	font-weight: bold;
	margin: 2.5% 0;
}