html{
	height: 100%;
	overflow-x: hidden;
}
body {
	height: 100%;
	margin: 0;
}
#dashboard-content{
	min-height: 85vh;
	height: 100%;
	display: flex;
}
#dashboard-wrap{
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	width: 100%;
}
#status-bar{
	position: relative;
	width: 100%;
	height: 25vh;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	display: flex;
	padding: 1.25%;
    flex-direction: row;
    background-color: rgba(0,0,0,0.05);
}
#secondary-status{
    display: flex;
    flex-direction: row;
    flex: 1;
	padding: 1.25%;
	font-size: 0.9em;
}
.secondary-status-section{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0.5%;
}
.top-label{
    font-size: 1em;
    font-weight: bold;
	color: rgb(27, 172, 228);
}
.top-entry{
    color: black;
	font-size: 0.85em;
	position: relative;
	margin-top: 2.5%;
}
#current-mode:hover #maintenance-mouseover{
	display: flex;
	cursor: pointer;
}
#maintenance-mouseover{
	display: none;
	position: absolute;
	background-color: rgb(134, 247, 255);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
	padding: 5%;
	border-radius: 8px;
	font-size: 0.8em;
	text-align: left;
	left: 55%;
	top: 65%;
	z-index: 99;
	width: 15rem;
}
#primary-status{
	display: flex;
	flex-direction: row;
	padding: 1.25%;
	text-align: left;
	border: 1px solid rgb(57, 192, 228);
	font-size: 0.9em;
	flex-basis: 50%;
}
.primary-status-section{
	flex: 1;
	padding: .75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.primary-status-inner-section{
	flex: 1;
}
.primary-status-header{
	font-weight: bold;
}
.primary-status-content{
	font-size: 0.9em;
	overflow-y: scroll;
}
/****** Graph Styles Start Here ******/
#lower-area{
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-bottom: 2.5%;
}
#dashboard-fourth{
	min-height: 20rem;
	padding: 1.25%;
	display: flex;
	flex: 1;
	width: 100%;
}
#graph-area{
	background: rgba(62, 199, 239, 0.075);
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 95vh;
	width: 100%;
}
#graph-top{
	padding: 1.25%;
	flex-basis: 10%;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	font-weight: 600;
	color: rgba(0,0,0,0.7);
	font-size: 0.7em;
}
#graph-title{
	display: flex;
	justify-content: center;
	font-size: 0.9em;
}
#past-view-section{
	min-width: 15rem;
}
#future-view-section{
	min-width: 8rem;
}
#graph-mode-section{
	flex: 0.5;
	display: flex;
}
.mode-switch{
	flex: 1;
	display: flex;
	flex-direction: row;
}
.mode-switch-button{
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.65);
	color: white;
	padding: 1em 1em;
	margin: 0 0 2.5% 0;
	border-radius: 5px;
}
.mode-indicator{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.25%;
	margin: 0 2.5% 1.25% 0;
}
.mode-switch-button:hover{
	cursor: pointer;
}
#graph-view-options{
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items: center;
}
.view-section{
	height: 70%;
	border-left: 1px solid rgba(0,0,0,0.2);
	padding: 0 1.25%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}
.view-section-title{
	display: inline-flex;
	flex-wrap: none;
	white-space: nowrap;
	align-items: center;
	padding: 0 2.5%;
}
#calendar-container{
	width: 1rem;
}
.fa-calendar{
	padding: 0 2.5% 0 10%;
}
.view-section-option{
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	padding: 0 3%;
	transition: ease-in-out 0.125s;
}
.view-section-option:hover{
	cursor: pointer;
	color: rgb(1, 138, 243);
}
#datepicker-popup{
	position: absolute;
	z-index: 99;
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	top: 100%;
	left: 0;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
#popup-main-area{
	flex-basis: 85%;
	flex: 1;
	display: flex;
	flex-direction: row;
}
.popup-main-section{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.popup-main-section:first-child{
	padding-right: 1.25%;
}
.popup-main-section:last-child{
	padding-left: 1.25%;
}
#popup-done-area{
	padding: 2.5% 0;
	display: flex;
	flex-direction: row;
}
#popup-submit{
	border-radius: 2px;
	background: rgb(1, 138, 243);
	color: white;
	padding: 2.5% 5%;
	margin-right: 2.5%;
	transition: ease-in-out 0.125s;
	min-width: 4rem;
}
#popup-submit:hover{
	cursor: pointer;
	background: rgb(1, 76, 133);
}
#popup-cancel{
	border-radius: 2px;
	color: rgb(1, 138, 243);
	border: 1px solid rgb(1, 138, 243);
	padding: 2.5% 5%;
	margin-left: 2.5%;
	min-width: 4rem;
}
#popup-cancel:hover{
	cursor: pointer;
	border: 1px solid rgb(1, 76, 133);
	color: rgb(1, 76, 133);
}
.graph-middle{
	display: flex;
	flex: 1;
	max-width: 97.5vw;
	flex-direction: row;
	padding: 0 1.25%;
	position: relative;
}
#graph-scroller{
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
	width: 100vw;
	max-width: 100vw;
	height: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#line-graph-display:hover{
	cursor: pointer;
}
#dates-container{
	position: relative;
	height: 5%;
	display: flex;
	flex-direction: row;
}
.graph-date{
	flex: 1;
	font-size: 0.6em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#level-graph-display{
	height: 60%;
	position: relative;
	display: flex;
	flex-direction: row;
}
.level-graph-date{
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 5px;
	opacity: 0.75;
}
.level-section{
	flex: 1;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.level-section:first-of-type{
	border-radius: 5px 5px 0px 0px;
}
.level-section:last-of-type{
	border-radius: 0px 0px 5px 5px;
	border-bottom: none;
}
.level-graph-today{
	flex: 2;
	opacity: 1;
}
.level-graph-today .level-section{
	border-left: 2px solid rgba(91, 255, 50, 0.637);
	border-right: 2px solid rgba(91, 255, 50, 0.637);
}
.level-graph-today .level-section:first-of-type{
	border-top: 2px solid rgba(91, 255, 50, 0.637);
}
.level-graph-today .level-section:last-of-type{
	border-bottom: 2px solid rgba(91, 255, 50, 0.637);
}
.level-graph-today .icon{
	background: rgba(255,255,255,0.9);
}
#line-graph-display {
	position: relative;
	height: 30%;
}
#m-graph-display{
	flex-basis: 85%;
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
	width: 100vw;
	max-width: 100vw;
	height: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#weight-input-container{
	position: relative;
	height: 5%;
	display: flex;
	flex-direction: row;
}
.graph-weight{
	flex: 1;
	padding: 0 2.5px;
	display: flex;
	flex-direction: row;
	position: relative;
}
.graph-weight.level-graph-today{
	flex: 2;
}
.graph-weight-number{
	width: 75%;
	border-left: 1px solid rgba(0,0,0,0.1);
}
#graph-sidebar{
	position: absolute;
	top: 5%;
	left: 1.25%;
	height: 60%;
	max-height: 60%;
	background: rgba(255,255,255,0.85);
	color: rgba(0,0,0,0.7);
	width: 7.1%;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 0px 1px rgba(0,0,0,0.2);
}
.sidebar-section{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.future-graph-weight .graph-weight-number{
	width: 100%;
	border-right: 1px solid rgba(0,0,0,0.3);
}
.weight-submit{
	flex-basis: 25%;
	padding: 2.5% 5%;
	color: white;
	font-size: 0.4em;
	background-color: rgb(8, 40, 109);
	background: linear-gradient(to bottom right, rgba(13, 107, 208, 0.8), rgba(0, 162, 255, 0.8));
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	margin: none;
	outline: none;
}
.weight-submit:hover{
	background-color: rgb(1, 24, 71);
	cursor: pointer;
}
#graph-hover{
	display: flex;
	position: absolute;
	left: 2.5%;
	top: 67.5%;
	justify-content: space-between;
	border-radius: 2px;
	background: rgba(255,255,255,0.5);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
	padding: 1.25%;
	font-size: 0.6em;
	color: rgb(0,0,0,0.5);
	font-weight: bold;
	flex-direction: column;
	z-index: 1000;
}
#graph-hover *{
	margin: 5% 0 5% 0;
}
.graph-hover-icons{
	flex-wrap: wrap;
}
#graph-scroller:hover #graph-hover{
	display: flex;
}
#mouse-coordinate-x{
	position: absolute;
	left: 0;
	bottom: 0%;
	border-right: 1px dashed black;
	z-index: 999;
}
#mouse-coordinate-x:hover{
	cursor: pointer;
}
#mouse-coordinate-y{
	position: absolute;
	left: 0;
	bottom: 0%;
	border-top: 1px dashed black;
	z-index: 999;
}
#y-labels{
	flex-basis: 30%;
	flex-shrink: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.y-label{
	font-size: 0.6em;
	display: flex;
	flex-direction: row;
	flex-basis: 33%;
	align-items: stretch;
}
.icons-wrap{
	flex-basis: 66%;
	flex: 1;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.icon{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	height: 2em;
	width: 2em;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 0px 1px rgba(0,0,0,1);
	position: relative;
	background: rgba(215,215,215,0.9);
}
.icon:hover{
	cursor: pointer
}
.icon:hover .icon-description{
	display: inline;
}
.icon-description{
	display: none;
	position: absolute;
	top: -1rem;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	background: black;
	font-size: 0.6em;
	color: rgb(107, 256, 228);
	padding: 0.25rem;
	border-radius: 5px;
}
.allowed-icon-wrap{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.disallowed-icon-wrap{
	flex-wrap: wrap;
	position: relative;
	display: flex;
	align-items: center;
}
.maintenance-icons{
	transform: translateY(0%) !important;
}
.disallowed-icon-wrap .icon{
	border: 1px solid rgb(211, 24, 43);
}
.icon-cross{
	position: absolute;
	transform-origin: bottom center;
	transform: rotate(-45deg);
	width: 100%;
	height: 50%;
	border-bottom: 1px solid rgb(211, 24, 43);
}
.y-label-weight{
	flex-basis: 33%;
	flex-shrink: 1;
	justify-content: flex-end;
	display: flex;
	align-items: center;
	font-weight: bold;
	color: rgb(0,0,0,0.7);
}
.line-graph-section{
	flex: 1;
}
#settings-outer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#settings-area{
	width: 80%;
	border: 1px solid rgb(57, 192, 228);
	padding: 1.25%;
	margin-top: 2.5%;
	margin-right: 2.5%;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
}
#settings-title{
	margin-top: 1.25%;
}
.settings-option{
	display: flex;
	justify-content: space-between;
	margin: 1.25% 0;
}
.settings-option-title{
	white-space: nowrap;
	font-weight: bold;
	font-size: 0.9em;
	flex: 1;
	margin-right: 2.5%;
}
.settings-option{
	white-space: nowrap;
}
.settings-option button{
	border-radius: 0;
	border:none;
	color: rgb(245,245,245);
	background-color: rgb(57, 192, 228);
	outline: none;
}
.settings-option button:hover{
	background-color: rgb(27, 152, 188);
	cursor: pointer;
}
#level-reset-button{
	width: 50%;
	padding: 2%;
	margin-top: 2.5%;
	font-size: 0.9em;
	align-self: flex-end;
	color: rgb(245,245,245);
	background-color: rgb(57, 192, 228);
	outline: none;
}
#level-reset-button:hover{
	background-color: rgb(27, 152, 188);
	cursor: pointer;
}
#graph-container{
	display: flex;
	flex-direction: row;
	height: 90%;
	position: relative;
}
#graph-container:hover{
	cursor: pointer;
}
.tab-date{
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 1px;
	position: relative;
}
.avg-section{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 0.6em;
	border-top: 1px solid rgba(255,255,255,0.4);
	border-left: 1px solid rgba(255,255,255,0.4);
}
.onMonth{
	color: rgba(255,255,255, 0.7);
	opacity: 0.2;
}
.offMonth{
	color: rgba(0,0,0,0.7);
	opacity: 0.1;
}
.weight-ok{
	background-color: rgb(55, 157, 236);
}
.weight-not-ok{
	background-color: rgb(213, 25, 50);
}
.no-data{
	background-color: rgb(0,0,0);
}
#tab-y-labels{
	flex-basis: 15%;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 2.5% 1.25rem 2.5% 0;
}
.past-weight{
	background-color: rgb(200,200,200);
}
#weight-edit-pullout{
	position: absolute;
	height: 5%;
	top: 65%;
	left: 1.25%;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding-right: 2.5%;
	box-shadow: 1px 2px 1px rgba(0,0,0,.2);
	border-radius: 0 5px 5px 0;
	font-size: 0.7em;
	font-weight: bold;
	color: rgba(0,0,0,0.7);
}
@media only screen and (max-width: 775px){
	#weightloss-tab-y-labels, #tab-y-labels{
		display: none !important;
	}
}