html{
	height: 100%;
	overflow-x: hidden;
}
body {
	height: 100%;
	margin: 0;
}
#dashboard-content{
	min-height: 85vh;
	height: 100%;
	display: flex;
}
#dashboard-wrap{
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	width: 100%;
}
#top-area{
	position: relative;
	width: 100%;
	height: 15vh;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
}
#lower-area{
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-bottom: 2.5%;
}
#dashboard-third{
	display: flex;
	flex-direction: row;
	padding: 1.25%;
	justify-content: space-between;
	align-items: stretch;
}
#dashboard-fourth{
	min-height: 20rem;
	padding: 1.25%;
	display: flex;
	flex: 1;
	width: 100%;
}
#level-area{
	flex-basis: 60%;
	display: flex;
	flex-direction: row;
	padding: 1.25%;
	text-align: left;
	border: 1px solid rgb(57, 192, 228);
	font-size: 0.9em;
	margin-left: 1.25%;
}
.level-area-section{
	flex: 1;
	padding: .75%;
	display: flex;
	flex-direction: column;
}
.level-area-header{
	font-weight: bold;
}
.level-area-content{
	font-size: 0.9em;
}
#graph-area{
	background: rgba(62, 199, 239, 0.075);
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 85vh;
	width: 100%;
}
#graph-top{
	padding: 1.25%;
	flex-basis: 15%;
	display: flex;
	flex-direction: row;
}
#axis-labels{
	display: flex;
	flex-basis: 30%;
	justify-content: space-between;
}
.axis-label{
	flex-basis: 33%;
	font-size: 0.7em;
}
#graph-title{
	flex: 1;
	display: flex;
	justify-content: center;
	font-size: 1.1em;
}
#project-button{
	background-color: rgb(8, 40, 109);
	background: linear-gradient(to top, rgba(89, 0, 255, 0.7), rgb(13, 74, 208) 10%, rgba(89, 0, 255, 0.7) 90%);
	border-left: 1px solid black;
	font-size: 0.8em;
	padding: 1.25% 5%;
	border-radius: 0 8px 8px 0;
	width: 2rem;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 0px 1px rgba(0,0,0,0.4);
	transition: ease-in-out 0.25s;
	color: white;
}
#project-button:hover{
	cursor: pointer;
	background-color: rgb(8, 40, 109);
}
.graph-middle{
	display: flex;
	flex: 1;
	flex-direction: row;
	padding: 0 1.25%;
}
#graph-middle-top{
	display: flex;
	flex-direction: row;
	flex-basis: 95%;
	padding: 0 1.25%;
}
#y-labels{
	flex-basis: 30%;
	flex-shrink: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.y-label{
	font-size: 0.6em;
	display: flex;
	flex-direction: row;
	flex-basis: 33%;
	align-items: stretch;
}
.icons-wrap{
	width: 66%;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.icon{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	height: 1.5rem;
	width: 1.5rem;
	position: relative;
	background: rgba(195,195,195,0.5);
}
.icon:hover{
	cursor: pointer
}
.icon:hover .icon-description{
	display: inline;
}
.icon-description{
	display: none;
	position: absolute;
	top: -1rem;
	white-space: nowrap;
	background: black;
	z-index: 9;
	color: rgb(107, 256, 228);
	padding: 0.25rem;
	border-radius: 5px;
}
.allowed-icons{
	position: relative;
	display: flex;
	align-items: center;
}
.disallowed-icons{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.maintenance-icons{
	transform: translateY(0%) !important;
}
.disallowed-icons .icon{
	border: 1px solid rgb(211, 24, 43);
}
.icon-cross{
	position: absolute;
	transform-origin: bottom center;
	transform: rotate(-45deg);
	width: 100%;
	height: 50%;
	border-bottom: 1px solid rgb(211, 24, 43);
}
.y-label-weight{
	width: 33%;
	flex-grow: 1;
	justify-content: flex-end;
	display: flex;
	align-items: center;
}
.tab-graph-section{
	flex: 1;
}
#tab-date-label, #tab-weight-label{
	flex: 0.25;
}
#settings-outer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#settings-area{
	width: 80%;
	border: 1px solid rgb(57, 192, 228);
	padding: 1.25%;
	margin-top: 2.5%;
	margin-right: 2.5%;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
}
#settings-title{
	margin-top: 1.25%;
}
.settings-option{
	display: flex;
	justify-content: space-between;
	margin: 1.25% 0;
}
.settings-option-title{
	white-space: nowrap;
	font-weight: bold;
	font-size: 0.9em;
	flex: 1;
	margin-right: 2.5%;
}
.settings-option{
	white-space: nowrap;
}
.settings-option button{
	border-radius: 0;
	border:none;
	color: rgb(245,245,245);
	background-color: rgb(57, 192, 228);
	outline: none;
}
.settings-option button:hover{
	background-color: rgb(27, 152, 188);
	cursor: pointer;
}
#level-reset-button{
	width: 50%;
	padding: 2%;
	margin-top: 2.5%;
	font-size: 0.9em;
	align-self: flex-end;
	color: rgb(245,245,245);
	background-color: rgb(57, 192, 228);
	outline: none;
}
#level-reset-button:hover{
	background-color: rgb(27, 152, 188);
	cursor: pointer;
}
#top-content{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.05);
    flex: 1;
    padding: 1.25% 0;
}
.top-section{
	flex: 1;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
}
.top-label{
    font-size: 1.125em;
    font-weight: bold;
	color: rgb(27, 172, 228);
}
.top-entry{
    color: black;
	font-size: 0.95em;
	position: relative;
}
#current-mode:hover #maintenance-mouseover{
	display: flex;
	cursor: pointer;
}
#maintenance-mouseover{
	display: none;
	position: absolute;
	background-color: rgb(134, 247, 255);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
	padding: 5%;
	border-radius: 8px;
	font-size: 0.8em;
	text-align: left;
	left: 55%;
	top: 65%;
	z-index: 99;
	width: 15rem;
}
.center-label{
	font-size: 0.9em;
}
.tab-date:last-child{
	border-right: 1px solid rgba(0,0,0,0.2);
}
.projected:first-of-type *{
	border-left: 2px outset rgba(89, 0, 255, 0.7);
	margin-left: 2px;
}
.avg-section{
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	font-size: 0.5em;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.2);
	color: white;
}
.avg-section:last-child{
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.no-data{
	background: grey;
}
.weight-ok{
	background: rgb(55, 119, 236);
}
.weight-not-ok{
	background: rgb(213, 25, 50);
}
#tab-graph-display{
	background-color: rgb(230,230,230);
	border-radius: 2px;
	align-items: stretch;
	padding: 1%;
	white-space: nowrap;
	flex-basis: 80%;
	flex: 1;
	overflow-x: scroll;
	padding-left: 0.5%;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}
#weight-loss-graph #tab-graph-display{
	flex-basis: 70%;
}
.tab-date{
	display: inline-flex;
	vertical-align: top;
	flex-direction: column;
	flex: 1;
	height: 100%;
	min-width: 4rem;
}
.graph-date{
	font-size: 0.6em;
	flex: 0.5;
	white-space: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(250,250,250);
	color: black;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.2);
}
#tab-y-labels, #weightloss-tab-y-labels{
	flex-basis: 20%;
	flex-shrink: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 2.5% 2.5% 2.5% 0;
}
#weightloss-tab-y-labels{
	flex-basis: 30%;
}
#tab-axis-labels{
	flex-basis: 20%;
	flex-shrink: 1;
	position: relative;
	display: flex;
}
.tab-axis-label{
	padding: 1.25%;
	flex: 1;
	font-size: 0.65em;
}
#history-axis-labels{
	flex-basis: 10%;
}
.history-axis-label{
	font-size: 0.6em;
}
#history-y-labels{
	flex-basis: 10%;
	flex-shrink: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-right: 2.5%;
}
#reversion-warning{
	color: rgb(213, 25, 50);
	font-size: 0.9em;
}
.graph-weight{
	flex: 0.5;
	position: relative;
	font-size: 0.6em;
}
.graph-weight-number{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	margin: 0 !important;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	transition: ease-in-out 0.25s;
}
.weight-submit{
	position: absolute;
	min-width: 50%;
	top: 0%;
	padding: 2.5% 5%;
	color: white;
	font-size: 0.4em;
	right: 0;
	height: 100%;
	background-color: rgb(8, 40, 109);
	background: linear-gradient(to top, rgba(89, 0, 255, 0.7), rgb(13, 74, 208) 10%, rgba(89, 0, 255, 0.7) 90%);
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 5px 5px 0;
	border: none;
	margin: none;
	outline: none;
	z-index: 10;
}
.weight-submit:hover{
	cursor: pointer;
	background-color: rgb(8, 40, 109);
}
.graph-weight-number:focus{
	width: 180%;
	left: -50%;
	outline: 2px solid rgb(0, 132, 255);
	z-index: 9;
	transition: ease-in-out 0.25s;
}
.graph-weight-number:focus ~ .weight-submit {
	right: -90% !important;
	border-right: 2px solid rgb(0, 132, 255);
	visibility: visible;
	transition: right ease-in 0.25s;
}
.mode-switch{
	padding: 0.5%;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	flex: 1;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
}
.mode-switch-button{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	background-color: rgb(8, 40, 109);
	background: linear-gradient(to top left, rgb(19, 180, 224, 0.8), rgb(6, 100, 223, 0.8));
	border-radius: 5px;
	color: rgb(250,250,250);
	transition: ease-in-out 0.125s;
}
.mode-switch-button:hover{
	cursor: pointer;
	background-color: rgb(6, 100, 223);
}