<p>
	<font face="Verdana, Geneva, sans-serif" size="-1" color="#666666">Welcome To Reductiscope!</font>
</p>
<p>
	<font face="Verdana, Geneva, sans-serif" size="-1" color="#666666">Thank you for creating an account</font>
</p>
<p>
	<a href="{{ basename }}RegistrationConfirmation?email={{ email }}&key={{ key }}">Click here to complete your registration</a>
</p>
<p>
Get ready to get thin!
</p>
<p>
	<font face="Verdana, Geneva, sans-serif" size="-1" color="#666666">If the above link is not working, please copy and paste this address {{ basename }}RegistrationConfirmation?email={{ email }}&key={{ key }} into your browser's address bar.</font>
</p>
<p>
	<font face="Verdana, Geneva, sans-serif" color="#999999" size="-2">You received this e-mail because you recently signed up to lose weight. If you think you should not have received this e-mail, please
		<a href="" style="color: #03110A;">
			<font color="#03110A">contact admin@reductiscope.com</font>
		</a>
	</font>
</p>
