<p>
	<font face="Verdana, Geneva, sans-serif" size="-1" color="#666666">Reductiscope Password Reset</font>
</p>
<p>
	<font face="Verdana, Geneva, sans-serif" size="-1" color="#666666">We recently received a request to reset the password for your account.</font>
</p>
<p>
	<font face="Verdana, Geneva, sans-serif" size="-1" color="#666666">If you did not make this request, you may ignore this email, your account is secure.</font>
</p>
<p>
    Otherwise, 
	<a href="{{ basename }}ResetPassword?email={{ email }}&key={{ key }}">click here to reset your password</a>
</p>
<p>
Get ready to get thin!
</p>
<p>
	<font face="Verdana, Geneva, sans-serif" size="-1" color="#666666">If the above link is not working, please copy and paste this address {{ basename }}ResetPassword?email={{ email }}&key={{ key }} into your browser's address bar.</font>
</p>
